@import '../../global/colors'
    
.bg-animation
    color: $font-color
    position: relative
    width: 100%
    height: 100%
    background-color: inherit
    text-align: center

    .texts
        font-weight: 100
        position: absolute
        width: 100%
        height: auto
        top: 30%
        left: 50%
        transform: translate(-50%, -30%)
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center

        p
            width: 100%
            font-size: 5vh
            margin: 0 1%
        
    button
        cursor: pointer
        margin: 0
        padding: 1%
        top: 43%
        left: 50%
        transform: translateX(-50%)
        display: flex
        flex-direction: column
        text-align: center
        align-items: center
        position: absolute
        font-size: 1.2em
        font-weight: 200
        background: inherit
        transition: all 0.5s
        border: solid #ffffff25 0.8px
        border-radius: 25px
        color: $font-color

        *
            margin-top: 5%
            font-size: 1.3em
        
        &:hover
            border: none
            font-size: 1.3em
            background: $transparent-grey

            *
                font-size: 1.4em

    img
        position: absolute
        min-width: 20%
        max-width: 85%
        bottom: 0
        transform: translateX(-50%)
        object-fit: cover
        object-position: 0 1vh
        
@media (max-width: 494px)
  .bg-animation
      .texts
          p
              strong
                  display: inline-block